<h1>Plots Index Page</h1>

<% @plots.each do |plot| %>
  <section id="plot-<%= plot.id %>">
    <div>Plot <%= plot.number %></div><br/>
  <% plot.plants.each do |plant| %>
      <div id="plant-<%= plant.id %>">
        <%= plant.name %>
        <%= link_to 'Remove Plant', "/plots/#{plot.id}/plants/#{plant.id}", method: :delete %><br/>
      </div>
  <% end %>
  </section><br/>
<% end %>
